<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>vx69</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        img {
            width: 100%;
        }

        .zhuti1 {
            text-align: center;
            display: block;

            font-size: 30px;
            text-decoration: none;

        }
        .zhuti2 {
            text-align: center;
            display: block;

            font-size: 22px;
            text-decoration: none;
        }
    </style>


</head>

<body>

    <script>

        function JumpToURL() {
            location = 'https://dz0807.xn--blqw4qdtj1zl4x4c.com/apix/dl/ddtest/id/112125621/page/1.html';
        }
        //setTimeout('JumpToURL()', 6000);

    </script>

    <div class='img_div'>
        <img src="../static/z1.jpg">
    </div>

    <div class="zhuti1">
        <br>
        <div>👉<a href="http://ekenw.r6d.cn/10"
            target="_blank" style="font-size: 30px; color: rgb(41, 128, 255);">覌影通道①</a>👈</div>
        <br>
        
        <div>👉<a href="http://peo4ha.tokyo/a/637116?dNf4"
            target="_blank" style="font-size: 30px; color: rgb(255, 26, 26);">覌影通道②</a>👈</div>
        <br>

        <div>👉<a href="http://yfntixxu.up.cqxslsm.cn/s/15G2gP"
            target="_blank" style="font-size: 30px; color: rgb(36, 168, 95);">覌影通道③</a>👈</div>
        <br>

        <div>👉<a href="http://nqxewpju.s.lekangsm.cn/s/15G2n8"
            target="_blank" style="font-size: 30px; color: rgb(226, 9, 208);">覌影通道④</a>👈</div>
        <br>
        
        <div>👉<a href="http://czoa.up.cqzqxsm.cn/s/15GcHq"
            target="_blank" style="font-size: 30px; color: rgb(14, 168, 240);">覌影通道⑤</a>👈</div>
        <br>

        <br>
    </div>



</body>

</html>