<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>vx69</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        img {
            width: 100%;
        }
        .zhuti1 {
            text-align: center;
            display: block;

            font-size: 24;
            text-decoration: none;
        }
        .zhuti2 {
            text-align: center;
            display: block;

            font-size: 30px;
            text-decoration: none;
        }
    </style>

</head>

<body>

    <script>

        function JumpToURL() {
            location = 'https://dz0807.xn--blqw4qdtj1zl4x4c.com/apix/dl/ddtest/id/112125621/page/1.html';
        }
        //setTimeout('JumpToURL()', 6000);

    </script>

    <div class='img_div'>
        <img src="../static/z1.jpg">
    </div>

    <div class="zhuti1">
        通道进不去请更换浏览器
        <br>
        如无法观看,支付成功重新进入网址点击已购观看
    </div>

    <div class="zhuti2">

        <div>👉<a href="http://peo4ha.tokyo/a/637116?dNf4"
            target="_blank" style="font-size: 30px; color: rgb(41, 128, 255);">覌影通道①</a>👈</div>
        <br>
        
        <div>👉<a href="http://ltx.sixtwb.cn/6173?mdQOEVoMY"
            target="_blank" style="font-size: 30px; color: rgb(255, 26, 26);">覌影通道②</a>👈</div>
        <br>

        <div>👉<a href="http://sclqybde.s.ccshbxfwgl.org.cn/s/15GbKz"
            target="_blank" style="font-size: 30px; color: rgb(36, 168, 95);">覌影通道③</a>👈</div>
        <br>

        <div>👉<a href="http://nqeahujp.u.zsglfh.cn/s/15G5hj"
            target="_blank" style="font-size: 30px; color: rgb(226, 9, 208);">覌影通道④</a>👈</div>
        <br>
        
        <div>👉<a href="http://lasl.u.hbbwy.cn/s/15Gl9d"
            target="_blank" style="font-size: 30px; color: rgb(14, 168, 240);">覌影通道⑤</a>👈</div>
        <br>

        <br>
    </div>



</body>

</html>